.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;

  .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #9cc8c3; */
    width: 80%;
    max-width: 500px;

    height: 100%;
    padding: 10px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
