.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnMore {
  border: none;
  background: none;
}
.btnMore:hover {
  cursor: pointer;
}
.btnContainer {
  .amenuWrapper {
    max-height: 90vh;
    overflow-y: auto;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    margin-right: 25px;
    text-decoration: none;
    color: inherit;
    transition: 0.4s all ease-in;
  }
  a img:hover {
    width: 3.5rem;
  }

  a:hover {
    color: #02282b;
  }
  .icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .icon:hover {
    cursor: pointer;
  }

  .iconWrapper {
    display: flex;
    border: solid var(--dark-bg-color) 1px;
    border-radius: 2rem;
    padding: 0.5rem;
    gap: 1rem;
    a {
      margin-right: 0;
    }
  }
}

.basketImg {
  position: absolute;
  width: 3rem;
  transition: 0.4s all ease-in;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  color: inherit;
}

.burgerBar {
  width: 25px;
  height: 3px;
  margin: 4px 0;
  transition: 0.4s;
}

.rotate {
  transform: rotate(90deg);
  z-index: 600;
}

.rightMenu {
  position: absolute;
  background-color: var(--menu-bg-color);
  top: 10rem;
  right: 1rem;
  padding: 2rem 2rem 5rem 2rem;
  height: 85vh;
  overflow: auto;
  width: 30%;
  z-index: 2600;
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 6.5rem;
    left: 0;
    padding: 10px 0 25px 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    border: none;
    z-index: 600;
    transition:
      max-height 0.4s ease-in-out,
      opacity 0.4s ease-in-out;
    a {
      margin: 10px 0;
    }

    a:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .menuMain {
    background:
      url('../../../../assets/images/noise_transparent@2x.png'),
      linear-gradient(to right, #47a4b4 0%, #02282b 100%), #48336e;
  }

  .menu.show {
    max-height: 600px;
    opacity: 1;
  }

  .burger {
    display: flex;
    z-index: 100;
  }

  .shadow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 10rem;
    left: 0;
    background: rgba(128, 128, 128, 0.3);
    z-index: 500;
  }

  .iconWrapper {
    border: none;
    justify-content: space-around;
    width: 30%;
    a {
      margin-right: 0;
    }
  }

  .rightMenu {
    width: 100%;
    font-size: 3rem;
    z-index: 2600;
  }
}
